

body {
  background-color: whitesmoke;
}

header {
  background-color: cornsilk;
}

footer {
  background-color: cornsilk;
}

.App {
  text-align: center;
}


.nav-container a {
  color: black;
  width: auto;
  display: flex;
  justify-content: space-between;
  /*align-items: unset;*/
  height: 60px;

}

li {
  float: left;
  margin: 0 0 0 12px;
  list-style-type: none;

}


img {
  display: flex;
  flex-direction: row;
  width: 70px;
  height: 80px;
  object-fit: contain;
  align-content: center;
}

/*li  {*/
/*  float: left;*/
/*  padding: 16px;*/
/*  justify-content: right;*/
/*  align-items: center;*/


















/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

